html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=67862), auto;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-family: 'Ranchers', cursive;
  font-size: 1.5rem;
}

.bobRoss {
	background-image: url("../bob.png");
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.canvas {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.colorPicker {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  position: absolute;
	padding-bottom: 1rem;
  background-color: white;
  height: 130px;
  width: 100vw;
  opacity: .8;
}

.pixels {
  width: 7px;
  height: 7px;
}
